# Ambiente virtual
.venv/
venv/
env/

# Arquivos Python compilados
__pycache__/
*.py[cod]
*.pyo

# Configurações locais / variáveis de ambiente
.env
*.env

# Arquivos de IDE
.vscode/
*.code-workspace

# Outros
.DS_Store
